.wrapper{
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    position: absolute;
    
  
   

    
}   

.background{
    background-image: url(../css/fundo1.jpg) ;
    
    
   

}
#Container{
    background-color: blue;

}
.img{
    background-position: center;
    object-fit:cover;
    position: relative;
}
.col-sm-4{
    color:rgb(0, 0, 0);
    
}
#navbar{
    background-color:rgb(255, 0, 0) ;
}
.rounded-circle{
    position: relative;
    left: 300px;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    border: #001f4e 5px solid;
    margin: 10px;
   
}
#circulo1{
    position: relative;
    left: 0%;
    width: 400px;
    height: 400px;

}
#circulo2{
    position: relative;
    left: 5%;
    width: 400px;
    height: 400px;

}
#circulo3{
    position: relative;
    left: 10%;
    width: 400px;
    height: 400px;

}

#coluna1{
    background-color:#000814;
    border-radius: 15px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   

}
#coluna2{
    background-color:#001d3d;
    color:white;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
    
}
#coluna3{
    background-color: #003566;
    color:white;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
    
}
#coluna4{
    background-color: #ffc300;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
}
#coluna5{
    background-color: #ffd60a;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
}
#coluna6{
    background-color:#ca6702;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
}
#coluna7{
    background-color: #bb3e03;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);   
}

.dinheiro{
    height: 350px;
    width: 750px;
    top: 2%;
    left:75%;
    position: relative;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.salario{
    font-size: xx-large;
    text-align: center;
    background-color: #000814;
    position: relative;
    width: 208px;
    left: 2%;
    border-radius: 15px;
    color: aliceblue;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

#container2{
    position: relative;
    border-radius: 15px;
    background-color: #000814;
    color: aliceblue;
}
#container3{
    position: relative;
    border-radius: 15px;
    width: 1000px;
    color: rgb(0, 0, 0);
    left: 25%;
    margin-top: 3%;
}
.rodape{
    background-color: #001d3d;
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 10%;

}
#container4{
    position: absolute;
    border-radius: 15px;
    background-color: #000814;
    color: aliceblue;
    left: 1%;
    width: 900px;
    height: 200px;
}
.img-thumbnail{
    position: relative;
    left: 50%;
    width: 800px;
    height: 400px;
    margin-top: 2%;
  
   

}
.titulos{
    font-size: xx-large;
    text-align: center;
    background-color: #000814;
    position: relative;
    width: 1000px;
    left: 17%;
    border-radius: 15px;
    color: aliceblue;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

#facul{
    background-color: #000814;
    color: azure;
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    margin-top: 2% ;
    width: 250px;
    height: 125px;
    left: 16%;

}


.faculImg{ position: relative;
    left: 3%;
    width: 400px;
    height: 400px;
    margin: 5px;
    

}


.faculImg1{ position: relative;
    left: 8%;
    width: 400px;
    height: 400px;
    margin: 5px;

}


.faculImg2{ position: relative;
    left: 13%;
    width: 400px;
    height: 400px;
    margin: 5px;

}

#facul1{
    background-color: #000814;
    color: azure;
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    top: 1%;
    width: 250px;
    height: 125px;
    left: 32%;

}
#facul2{
    background-color: #000814;
    color: azure;
    position: relative;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    top: 2%;
    width: 250px;
    height: 125px;
    left: 64%;


}

.salario1{
    font-size: xx-large;
    text-align: center;
    background-color: #000814;
    position: relative;
    width: 1000px;
    left: 20%;
    border-radius: 15px;
    color: aliceblue;
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#containerS{
    position: relative;
    border-radius: 15px;
    width: 500px;
    color: rgb(0, 0, 0);
    left: -25%;
    top:5%

    
   
}

#colunaS{
    background-color: #ffd60a;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #000000 5px solid;
    left: 0%;
}

.fundo{
    position: absolute;
    z-index: inherit;
}



.tabela{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 1rem;
   
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(9, 0, 128));
    padding: 3px;
}

#tabela{
    border-radius: 5px;
    background: #222;
  color: white;
  padding: 2rem;
}


.titulos::before{
    content : '';
    position: absolute;
    width: 100%;
    height: 1500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}
.titulos::after{
    content : '';
    position: absolute;
    width: 1500px;
    height: 1500px;
    background-image: conic-gradient(transparent,transparent,transparent,#d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

    @keyframes animate{
        0%{
           transform: rotate(0deg); 
        }
        100%{
            transform:rotate(360deg);
        }
    }
/*
    .titulos span{
     
        position: absolute;
        inset:5px;
        background: #0c1022;
        border-radius:16px;
        z-index: -1;

    }

    .titulos h2{
       position: relative;
       z-index: 2;
       color:#fff;
       font-size: 10e; 
    }
    */


